name: Lint, Check Build

on:
  push:
    branches: [main]    
  pull_request:
    branches: [main]

jobs:
  checks:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - name: Use Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: '18.x'
          package-manager-cache: false
      - name: Dependencies
        run: yarn
      - name: Lint Code
        run: yarn lint
      - name: Check build & archive build
        run: yarn build && tar -zcf build.tar.gz build
      - name: Created build artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: build
          if-no-files-found: error
          path: build.tar.gz
          retention-days: 1
