name: Lint, Check Build

on:
  push:
    branches: [main]    
  pull_request:
    branches: [main]

jobs:
  checks:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - name: Use Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: '18.x'
          package-manager-cache: false
      - name: Dependencies
        run: yarn
      - name: Lint Code
        run: yarn lint
      - name: Check build & archive build
        run: yarn build && tar -zcf build.tar.gz build
      - name: Created build artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: build
          if-no-files-found: error
          path: build.tar.gz
          retention-days: 1
