name: Release

on:
  push:
    tags:
      - v*

jobs:
  checks:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - name: Use Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: '18.x'
          package-manager-cache: false
      - name: Dependencies
        run: yarn
      - name: Check build & archive build
        run: yarn build && tar -zcf build.tar.gz build
      - name: Create Release & Upload Asset
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -x
          VERSION="${GITHUB_REF##*/}"
          gh release create "$VERSION" build.tar.gz --target "$GITHUB_SHA" --title "Release $VERSION"
